<%- include('./partials/header') %>

<div class="title">
	<h1>
		<i class="archive icon"></i> About Me
	</h1>
    <h2>
        这是一个独立游戏作品集，来看看它们的故事吧
    </h2>
</div>

<div class="main ui container">
    <h2>
        <i class="question circle blue icon"></i> 这是个什么地方呀？
    </h2>
    <hr class="smooth">
    <p>
        我是2020 CiGA Game Jam的参赛选手之一，我们团队的作品是“裂变 （fission）”，也就是目前网站上唯一一个游戏（没有内容的那个当然不算呀！）。
    </p>
    <p>
        我是个转码的程序菜鸡，这次比赛是我原本希望在我的简历上能有些东西写，比完就算了。但是比赛结束之后，看到我的朋友说我们的游戏 <strong>“挺好玩的耶”</strong> 的时候真的让我觉得很开心。在得知官方（好像）不会保留比赛作品的时候，我不希望让这次经历就这样被忘掉，所以我想把它记录下来。
    </p>
    <p>
        我想，既然你来到了这里，你的想法可能也跟我的很相似。如果是这样的话，不如我们一起把我们游戏所经历的故事写下来，跟大家一起分享，也可以留给自己一个回忆呀。
    </p>
    <p>
        当然，如果参与的人多了，以后有类似的比赛我也会想办法把那些作品纳入收集，算是一个独立游戏的小收藏箱吧~
    </p>
    
    <h2>
        <i class="question circle blue icon"></i> 该怎么操作呢？
    </h2>
    <hr class="smooth">
    <p>
        如果你愿意把你们团队的作品纳入这个作品集，十分感谢！不过在此之前，还请你跟你们团队的成员沟通好，确保所有成员都愿意参与（ <i class="exclamation triangle red icon"></i> <strong>一定要确认哦~</strong>）。
    </p>
    <p>
        确认无误后，团队可以用自己喜欢的方式写下大家开发游戏时的故事，例如说对题目的看法，想法，开发时遇到了什么难题，学到了些什么东西，体验心得什么的都可以写哦~ 大概的例子可以参考我们的游戏，不过内容没有限制（不过得要是能放上网的，<i class="exclamation triangle red icon"></i> <strong>不要包含重要的个人信息，不要有不健康的内容哦~</strong>）
    </p>
    <p>
        目前我也在测试如何在网站上直接玩游戏，但是由于技术问题，暂时还不能保证能做到不开源，所以如果你不愿意把游戏开源，只需要提供游戏画面就可以啦（最好是16:9的比例，有需求的话我也可以试试放视频）。如果不介意开源，而且你们想展示实体的游戏，并且你们的游戏支持html格式的话，我会尽量尝试把你们的游戏放在页面上。
    </p>
    <p>
        总的来讲，你们可以尽情地分享你们的游戏，有什么需求都可以提出来哟！
    </p>

    <h2>
        <i class="child icon"></i> 想不出标题啦
    </h2>
    <hr class="smooth">
    <p>
        这个项目其实也是我自己的一个练习，我当然不能保证这个网站最后会变得很好很好，那只能是我希望会发生的事情。我本来甚至都没想到会有人愿意加入，但是在我问了几个人之后，发现还是有人的想法跟我的差不多。那就一不做二不休，把网站发布了。
    </p>
    <p>
        说句不负责任的话，希望大家不要对通过这个网站出名之类的事情抱太大的希望，而是希望大家抱着留下记忆，分享故事，分享游戏的心态，慢慢地让更多人知道这些独立游戏的存在，和背后开发者们48个小时不敢停歇地肝的故事。
    </p>
    <p>
        我觉得努力地做着自己喜欢的事情是一件很开心的事，你呢？
    </p>

    <a href="/" class="ui button blue">返回</a>

</div>


<%- include('./partials/footer') %>