<%- include('./partials/header') %>

<div class="title">
	<h1>
		<i class="archive icon"></i> Indie Gallery
	</h1>
	<h2>
		A gallery for indie games and the stories behind them.
    </h2>
    <h2>
        这是一个独立游戏作品集，来看看它们的故事吧
    </h2>
</div>

<div class="main ui container">
    <h2>
		<i class="child icon"></i> Section title here
	</h2>
    <hr class="abrupt">
    <!-- <div class="row"> -->

    <div class="ui raised link cards stackable three column">
        <!-- individual link cards are a tags -->
        <div class="ui card">
            <div class="image">
                <img src="images/CGJ_theme.png">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
    </div>

    <div class="ui celled grid">
            <div class="row">
                <!-- <div class="ui celled grid"> -->
                    <div class="six wide column">
                        <div class="ui raised segment">
                            <h3>
                                Game Title
                            </h3>
                            <h4>
                                Author
                            </h4>
                            <p>
                                Short descriptions
                            </p>
                        </div>
                        <a href='/games' class="ui green fluid huge button">Go Take A Look!</a>
                    </div>
                    <div class='ten wide column'>
                        <!-- <div class="row">
                            <h3>
                                Game Title Here
                            </h3>
                        </div> -->
                        <div class="row">
                            <div class="ui image showcase">
                                <img src="images/marine_vs_zergling_thumbnail.png">
                            </div>
                        </div>
                        <ul class="thumbnails">
                            <li class="active">
                                <img src="images/CGJ_theme.png">
                            </li>
                            <li>
                                <img src="images/CGJ_game_thumbnail.png">
                            </li>
                            <li>
                                <img src="images/marine_vs_zergling_thumbnail.png">
                            </li>

                        </ul>
                    </div>
                <!-- </div> -->
            </div>
    </div>

    <!-- </div> -->

    <div class="ui celled grid">
        <div class="row">
            <!-- <div class="ui celled grid"> -->
                <div class="six wide column">
                    <h3>
                        Game Title
                    </h3>
                    <h4>
                        Author
                    </h4>
                    <p>
                        Short descriptions
                    </p>
                </div>
                <div class='ten wide column'>
                    <!-- <div class="row">
                        <h3>
                            Game Title Here
                        </h3>
                    </div> -->
                    <div class="row">
                        <div class="ui image showcase">
                            <img src="images/marine_vs_zergling_thumbnail.png">
                        </div>
                    </div>
                    <ul class="thumbnails">
                        <li class="active">
                            <img src="images/CGJ_theme.png">
                        </li>
                        <li>
                            <img src="images/CGJ_game_thumbnail.png">
                        </li>
                        <li>
                            <img src="images/marine_vs_zergling_thumbnail.png">
                        </li>

                    </ul>
                </div>
            <!-- </div> -->
        </div>
    </div>
    

</div>




<%- include('./partials/footer') %>