<%- include('./partials/header') %>

<div class="title">
	<h1>
		<i class="archive icon"></i> Indie Gallery/独立游戏作品集
	</h1>
	<h2>
		A gallery for indie games and the stories behind them.
    </h2>
    <h2>
        这是一个独立游戏作品集，来看看它们的故事吧
    </h2>
</div>

<div class="main ui container" style="padding-bottom: 20em;">
    <h3>
        操作成功！页面将在2秒后跳转回主页
    </h3>
</div>

<script>
    setTimeout( () => {
        window.location = '/'
    }, 2000)
</script>
<%- include('./partials/footer') %>