<%- include('../partials/work-header') %>

<div class="title">
    <h1>
        <i class="gamepad icon"></i> Template
    </h1>
    <h2>
        作者：
    </h2>
</div>

<a href="/" class="ui blue button">返回</a>

<%- include('../partials/footer') %>