<%- include('../partials/work-header') %>

<div class="title">
    <h1>
        <i class="gamepad icon"></i> <%= work.title %>
    </h1>
    <h2>
        作者：
    </h2>
    <p>
        <%= work.authors %>
    </p>
</div>

<div class="main ui container">
    <h2>
        抱歉！暂时还没有内容，在等待作者们的消息！
    </h2>

    <a href="/" class="ui blue button">返回</a>
</div>



<a href="/" class="ui blue button">返回</a>

<%- include('../partials/footer') %>