<%- include('../partials/work-header') %>

<div class="title">
    <h1>
        <i class="gamepad icon"></i> 展示你的游戏
    </h1>
    <h2>
        用你喜欢的方式介绍一下你的游戏吧~
    </h2>
</div>

<div class="main ui container">

    <h2>
        先收集一下基本信息
    </h2>
    <hr class="smooth">

    <form action="/works" enctype="multipart/form-data" method="POST">

    </form>

</div>




<%- include('../partials/footer') %>